
    <% @speaks.each do |speak| %>
      <a class="chathead"><%= speak.user %><a class="chatstamp">[<%=speak.created_at.getlocal.strftime('%Y-%m-%d %H:%M') %>]</a></a> <p> <%= speak.content %></p>
    <% end %>

